/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
p {
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 800px;
	margin:0 auto;
}



nav {
	width:100%;
	padding:5% 0;

	align-items: center;
	display: flex;
	justify-content: space-around;

}

nav a {
	color: darkgrey;
	text-decoration-line: none;
	font-size:1rem;
	
}


.logo {
	margin-left: 5%;
}

.cta {
	padding-top: 5%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
}

.cta-div {
	
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	font-size: 80px;
}

button {
	border: 1px solid black;
	background: white;
	padding:2% 10%;
}

.middle-img {
	width: 100%;
}

.top-content {
	margin: 4% 0;
	padding-top: 4%;
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between
}

.top-content div {
	width: 48%;
}

.bottom-content {
	padding-bottom: 4%;
	border-bottom: 1px solid black;
	margin-top: 4%;
	display: flex;
	justify-content: space-between;
}

.bottom-content div {
	width: 32%;
}

.contact {
	margin-top: 4%;
}

.contact p {
	padding-top: 2%;
}

.copyright {
    margin-top:3%;
	text-align: center;
}



@media (max-width:800px){

    .header-img {
        display:none;
				}
				.container{
					width:90%;
					margin: 0 auto;
				}
				.logo-div .logo{
				
				padding:0;
					position: absolute;
					left:0;
					right:0;
					margin:0 auto;
					
					top:1%;
				}
				nav {
					
					margin-top:15%;
				}
   
}
@media (max-width:500px){
	.container{
		width:90%;
		
	}
	nav {
		padding-top:0;
	 margin-top:0;
		flex-direction:column;
		justify-content: center;
		
		
	}

	
	nav a{
		border:1px solid darkgrey;
	
		
		
	}


.logo-div .logo{
				 
					position: relative;
					
				}
}